.cart_box{
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}

.order_list{
    border: 1px solid #000;

}
.order_item{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
}

.price_box{
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.add_remove_item{
    display: flex;
    gap: 25px;
}
.minus , .add{
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_add_on{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 45px;
}


.btn-1{
    width: 100%;
    border-radius: 0;
}


.order_total_price{
    border: 1px solid #000;

}






.price-details {
    border: 1px solid #000;
    padding: 15px;
    margin-top: 20px;
}
.price-details h5 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.price-details p {
    display: flex;
    justify-content: space-between;
}




.order-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.order-item img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}














