.profile-form {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.sidebar {
    width: 280px;
    background: #fff;
    padding: 25px;
    border-right: 1px solid #ddd;
}
.profile-section {
    text-align: center;
    margin-bottom: 20px; 
}
.profile_img{
    margin: 0 auto;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-img {
    margin: auto;
    width: 100px;
    height: 100px;
}
.profile-name {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}
.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.menu li:hover {
    color: #e60023;
}
.content {
    flex-grow: 1;
    padding: 30px;
}
.section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.btn-save {
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 500;
}
